<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Game">
	<insert id="insertGame">
		insert into GAME (name, age, phone, content)
		values
		(#{name} , #{age} , #{phone} , #{content})
	</insert>
	<update id="updateGame">
		update GAME
		set name=#{name}, age=#{age}, phone=#{phone},
		content=#{content}
		where seq=#{seq}
	</update>
	<delete id="deleteGame">
		delete from GAME where seq=#{seq}
	</delete>
	<select id="getGame" resultType="game">
		select * from GAME where seq=#{seq}
	</select>
	<select id="getGameList" resultType="game">
		select * from GAME order by seq desc
	</select>
</mapper>